.container {
    display: flex;
    flex-direction: column;
}

#log {
    margin: 16px 0;
}

body {
    min-height: 100vh;
    padding: 16px;
}

footer {
    position: fixed;
    bottom: 30px;
    right: 30px;
}